.background-content {
    aspect-ratio: 1 / 1.6;
    background: radial-gradient(rgba(255, 255, 255, 0.2) 8%, transparent 8%) 0% 0%;
    background-position: -10% 0%;
    background-size: 5vmin 5vmin;
    padding: 5vmin;
    height: calc(100% - 10vmin);
    width: 100%;
    position: relative;
    transition: background-position 350ms ease-out;
    transition-delay: 1000ms;
}

.background-content:hover{
    background-position: -20% 0%;
    transition: background-position 350ms ease-in;
}

.landing-title-first {
    color: #d6d3d1;
    font-family: "Anek Latin", sans-serif;
    font-weight: 800;
    margin: 0px;
    font-size: 3vmin;
    width: 250px;
    word-wrap: break-word;
    padding: 2% 2% 0% 2%;
}

.landing-title-second {
    color: #d6d3d1;
    font-family: "Anek Latin", sans-serif;
    font-weight: 800;
    margin: 0px;
    font-size: 5vmin;
    width: 580px;
    word-wrap: break-word;
    padding-left: 2%;
}

.landing-title-third {
    color: #d6d3d1;
    font-family: "Anek Latin", sans-serif;
    font-weight: 800;
    margin: 0px;
    font-size: 5vmin;
    width: 550px;
    word-wrap: break-word;
    padding-left: 2%;
}